.parent {
  display: flex;
  justify-content: center;
}
.div1 {
  /* width: 15%;
  padding-top: 4%; */
  text-align: left;
  padding: 60px 0px !important;
}
.div2 {
  /* min-width: 55%; */
  text-align: left;
}
.div1 span {
  /* display: block;
  margin-top: 16px; */
  display: block;
  margin-top: 16px;
  font-size: 14px;
  font-weight: bold;
}
.add-opp {
  background-color: #fafafa;
  color: #007580;
}
.mentoring-opportunity-container {
  background-color: #f2f2f2;
  border-radius: 20px;
  min-height: 1000px;
  width: 100%;
}
.mentoring-opportunity-div1 {
  background-color: #007580;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 50px 0px 100px;
  float: right;
  border-radius: 0px 20px 0px 80px;
  color: #fafafa;
}
.mentoring-opportunity-form {
  padding-top: 60px;
}
.mentor-oppor-label,
.mentor-oppor-input,
.mentor-oppor-label1,
.mentor-oppor-input1,
.mentor-oppor-span,
.mentor-oppor-span2,
.mentor-span0 {
  font-size: 16px;
  color: #007580;
  font-weight: bold;
  display: block;
  padding: 9px;
  margin: 5px 20px;
  border-radius: 10px;
  border: 0px;
}
.mentor-oppor-label1,
.mentor-oppor-input1,
.mentor-oppor-span,
.mentor-oppor-span2,
.mentor-span0 {
  display: inline;
  margin: 15px 20px;
}
textarea {
  width: 90%;
}
/* .mentor-imputa {
  display: inline-block;
  font-size: 25px;
  color: #007580;
} */
.checkboxtext {
  font-size: 110%;
  display: inline;
  color: #007580;
}
.par-opp {
  position: relative;
}
.mentor-oppor-span {
  /* position: absolute;
  top: -10px;
  left: 25px; */
}
.par-opp input {
  width: 80%;
}
.par-opp select {
  width: 50%;
}
.mentor-oppor-span2 {
  display: inline-block;
  margin: 5px 0px 0px 330px;
}
.pac {
  display: flex;
  align-items: center;
}
.mentor-input1,
.mentor-input2 {
  width: 40%;
}
.mentor-input4,
.mentor-input5,
.mentor-input6 {
  width: 60%;
}
.mentor-select1,
.mentor-select2,
.mentor-select3 {
  width: 23%;
  max-width: 400px;
}
.mentor-select4 {
  width: 18%;
}
.mentor-submit {
  background-color: #007f8b;
  font-size: 16px;
  padding: 5px 20px;
  float: right;
  border-radius: 40px;
  color: #fafafa;
  margin: 20px;
}
.mentor-submit:hover {
  background-color: #015f68;
}
.sub-btn {
  display: flex;
  justify-content: flex-end;
  margin: 25px 30px;
}
.mgh-inp {
  width: 17px !important;
  height: 17px !important;
  background-color: #fed049;
  border: none;
}
.mgh-inp1 {
  position: relative;
  top: 20px;
}
.mgh-inp2 {
  position: relative;
  top: 45px;
}
.form-check-input {
  width: 20px !important;
  height: 20px !important;
  color: white;
}
.form-check-input:checked {
  background-color: #fed049 !important;
  color: #fafafa !important;
  outline: none !important;
}
/* start media query mob screen */
@media (max-width: 567px) {
  .border-2 {
    border-width: 2px !important;
    width: 80%;
    margin-bottom: 20px;
  }
  .lab-1 {
    display: inline-block;
    margin-bottom: -9px;
    margin-top: 20px;
  }
  .form-check-input {
    width: 20px !important;
  }
  .mgh-inp1 {
    position: relative;
    top: 0px;
  }
  .mgh-inp2 {
    position: relative;
    top: 0px;
  }
  .sub-btn {
    justify-content: center;
  }
  .mentor-submit {
    width: 300px;
    padding: 10px;
  }
}
/* end media query mob screen */
